@media(max-width: 800px){
    body {
        margin: 0;
        padding: 0;
        }
    
    nav {
    height: 80px;
    width: 100%;
    background-color: rgb(169, 214, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    }
    
    
    span {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    }
    
    span:hover{
        text-decoration: underline;
    }
    
    .logo {
    font-size: 36px;
    
    }
    i {
    font-size: 22px;
    }
    
    .search {
    border: 2px solid black;
    border-radius: 15px;
    width: 150px;
    padding: 2px;
    
    }
    .search:hover{
        transform: scaleX(1.1);
    }
    
    .search > span > i{
        font-size: 16px;
        margin: 2px;
        
    }
    
    .search > span {
        padding-left: 0;
    }
    
    img {
    height: auto;
    width: 1277px;
    }
    h1 {
    text-align: center;
    font-size: 26px;
    padding-left: 80px;
    }
    
    .box {
    display: flex;
    flex-direction: column;
    }
    .box:hover {
        filter: drop-shadow(5px 5px 10px grey);
    }
    
    .box > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    }
    
    .parent {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    
    .box > h6 {
    text-align: center;
    }
    .parent2 {
        display: flex;
        justify-content: center;
        width: 70%;
        flex-wrap: wrap;
        margin-left: 150px;
        
    }
    .box2 {
        display: flex;
        flex-direction: column;
         height: 300px;
         width: 250px;
         border-radius: 10px;
         justify-content: center;
         align-items: center;
         padding: 5px;
         margin-top: 30px;
    }
    .box2 > img {
    height: 250px;
    width: 90%;
    margin-top: 50px;
    border-radius: 10%;
    padding-top: 15px;
    
    }
    
    .box2 > h6 {
    text-align: center;
    margin-top: 0;
    }
    
    .box2:hover {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 1px 1px 3px black;
    }
    h6 {
    font-size: 20px;
    }
    
    i:hover {
        text-decoration: underline;
        transform: scale(1.1);
    }
    
    .parent3 {
        background-color: rgb(169, 214, 251);
        height: 170px;
        width: 100%;
    }
    .box3{
        padding:0px 20px;
    }
    
    .help{
        position: fixed;
        right: 20px;
        bottom: 40px;
    }

    .help > span > i{
        font-size: 42px;
        background-color: rgb(132, 182, 223);
        border-radius: 100%;
        padding: 10px;

        
    }
    
}



@media(min-width: 801px){
    body {
        margin: 0;
        padding: 0;
        }
    
    nav {
    height: 80px;
    width: 1277px;
    background-color: rgb(169, 214, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    }
    
    
    span {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    }
    
    span:hover{
        text-decoration: underline;
    }
    
    .logo {
    font-size: 50px;
    
    }
    i {
    font-size: 30px;
    }
    
    .search {
    border: 2px solid black;
    border-radius: 15px;
    width: 220px;
    padding: 3px;
    
    }
    .search:hover{
        transform: scaleX(1.1);
    }
    
    .search > span > i{
        font-size: 20px;
        margin: 3px;
        
    }
    
    .search > span {
        padding-left: 0;
    }
    
    img {
    height: auto;
    width: 1277px;
    }
    h1 {
    text-align: center;
    font-size: 35px;
    }
    
    .box {
    display: flex;
    flex-direction: column;
    }
    .box:hover {
        filter: drop-shadow(5px 5px 10px grey);
    }
    
    .box > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    }
    
    .parent {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    
    .box > h6 {
    text-align: center;
    }
    .parent2 {
        display: flex;
        justify-content: center;
        width: 70%;
        flex-wrap: wrap;
        margin-left: 150px;
        
    }
    .box2 {
        display: flex;
        flex-direction: column;
         height: 300px;
         width: 250px;
         border-radius: 10px;
         justify-content: center;
         align-items: center;
         padding: 5px;
         margin-top: 30px;
    }
    .box2 > img {
    height: 250px;
    width: 90%;
    margin-top: 50px;
    border-radius: 10%;
    padding-top: 15px;
    
    }
    
    .box2 > h6 {
    text-align: center;
    margin-top: 0;
    }
    
    .box2:hover {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 1px 1px 3px black;
    }
    h6 {
    font-size: 20px;
    }
    
    i:hover {
        text-decoration: underline;
        transform: scale(1.1);
    }
    
    .parent3 {
        background-color: rgb(169, 214, 251);
        height: 200px;
        width: 1277px;
    }

    .box3{
        text-align: justify;
    }
    
    .help{
        position: fixed;
        right: 20px;
        bottom: 40px;
    }

    .help > span > i{
        font-size: 42px;
        background-color: rgb(132, 182, 223);
        border-radius: 100%;
        padding: 10px;

        
    }
    
    
}



